.productdetail{
    width: 95%;
    margin: auto;
}
.product-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.product-right p, .reviews-section p{
    padding: 5px;
    font-size: 1.1rem;
}
.product-right h1, .reviews h1{
    font-size: 25px;
    text-align: center;
    line-height: 1.5;
}
.parad{
    line-height: 1.5;
}
span{
    font-weight: 600;
}
.padding{
    margin-bottom: 20px;
}
.reviewname{
    margin-top: 20px;
}
.custom-hr{
    height: 5px;
    background: #27548A;
    border-radius: 10px;
} 
.btn-section{
    display: flex;
    gap: 20px;
    align-items: center;
   
}
.btn-section button{
    padding: 5px 7px;
    font-size: 16px;
    background: black;
    color: white;
    border-radius: 5px;
    display:flex;
    align-items: center;
    transition: all ease-in-out 0.2s;
}
.btn-section button:hover{
    opacity: 0.8;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    
}
.btn-section p{
    background: rgb(210, 210, 210);
    color: black;
    padding: 5px 20px;
    font-size: 14px;
}

@media (min-width: 992px) {
    .productdetail{
        width: 80%;
    }
    .product-container{
        flex-direction: row;
        gap: 50px;
    }
    .product-right h1{
        text-align: left;
        font-size: 2rem;
    }
    .reviews h1{
        font-size: 2rem;
    }

}